<span>Click one to see more information</span>
<ul class="token-list">
  <% @tokens.each do |token| %>
  <a href="<%= token_path(token) %>">
    <li>
      <div class="views">
        <div><%= token.visits.count %></div>
        views
      </div>
      <span><%= token.description %></span>
    </li>
  </a>
  <% end %>
</ul>