<div class="row">
  <div class="offset2 span8">
    <h3>You have <%= pluralize(@tokens.length, 'tracking token') %>:</h3>  
    <% if @tokens.length > 0 %>
    <%= render 'token_list' %>
    <% else %>
    You don't have any tracking tokens yet. Why not <%= link_to 'create one', new_token_path %>?
    <% end%>
  </div>  
</div>