    <h2>Track a New Page</h2>
    <p>Choose a descriptive name, a password, and the URL of the page you want to track.</p>
    <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
    <% end %>
    <form action="/new" method="post">
        <div><label for="name">Name:</label><input type="text" name="name" /></div>
        <div><label for="password">Password:</label><input type="password" name="password" /></div>
        <div><label for="url">URL:</label><input type="text" name="url" /></div>
        <div><label for="description">Description (optional):</label><input type="text" name="description" /></div>
        <div><input type="submit" name="submit" id="submit" value="Start Tracking!"/></div>
    </form>
