<html>
<head>
    <title>Besok - Simple analytics and page view tracking</title>
</head>
<body>
    <h1>Besok</h1>
    <h2>Simple analytics and page view tracking</h2>
    <p>Besok lets you see how much traffic you're getting and where it's coming from. It's easy to get started.</p>
    <ul>
        <li><a href="/new">Track a New Page</a></li>
        <li><a href="/check">Check an Existing Page</a></li>
    </ul>
</body>
</html>
