// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.token-list {
  list-style: none;
  margin-top: 1em;
  a {
    text-decoration: none;
    display: block;
    color: inherit;
    width: 15em;
  }
  li {
    border: 1px solid #aaa;
    margin-bottom: 1em;
    overflow: hidden;
    .views {
      text-align: center;
      border-right: 1px dashed #ccc;
      margin-right: 1em;
      float: left;
      padding-left: 0.5em;
      padding-right: 0.5em;
      div {
        font-size: 32px;
        line-height: 32px;
      }
    }
    span {
    
    }
  }
}