// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.token-list {
  list-style: none;
  margin-top: 1em;
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
  }
  li {
    width: 6em;
    height: 6em;
    border: 1px solid #aaa;
    padding: 1em;
    .views {
      text-align: center;
      border-bottom: 1px dashed #ccc;
      div {
        font-size: 32px;
        padding-bottom: 4px;
      }
    }
    pre {
      margin-top: 0.5em;
    }
  }
}