// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#logo {
  float: left;
  margin-right: 25px;
}

.hero-unit .user-action {
  float: right;
  position: relative;
  top: -40px;
  left: 40px;
}