<div class="hero-unit">
  <%= image_tag 'besok-logo.png', :alt => 'Besok', :id => 'logo' %>
  <h1>Besök</h1>
  <span>Simple analytics and page view tracking</span>
</div>
<div class="row">
  <div class="span3">
    <h3>What is it?</h3>
    <p>Besök lets you see how much traffic your page is getting.</p>
  </div>
  
  <div class="span3">
    <h3>Why use it?</h3>
    <p>There are lots of analytics options out there. Some of them are really powerful, but can be hard to learn. Besök lets you get started quickly, and you can begin tracking visits today.</p> 
  </div>

  <div class="span3">
    <h3>How does it work?</h3>
    <ol>
      <li>Sign up for free</li>
      <li>Generate a page tracking token</li>
      <li>Paste the HTML code into your page</li>
      <li>Start watching the pageviews roll in!</li>
    </ol>
  </div>
  
  <div class="span3">
    <h3>Sign up now!</h3>
    <p>Signing up is free! Click below.</p>
    <a class="btn btn-warning btn-large center">Sign Up!</a>
  </div>
</div>